[submodule "packages/bugsnag-flutter-http-client"]
	path = packages/bugsnag-flutter-http-client
	url = git@github.com:bugsnag/bugsnag-flutter-http-client.git
[submodule "packages/bugsnag-flutter-dio-client"]
	path = packages/bugsnag-flutter-dio-client
	url = git@github.com:bugsnag/bugsnag-flutter-dio-client.git
[submodule "packages/bugsnag-flutter-navigator-observer"]
	path = packages/bugsnag-flutter-navigator-observer
	url=git@github.com:bugsnag/bugsnag-flutter-navigator-observer.git
[submodule "packages/bugsnag-flutter-dart-io-http-client"]
	path = packages/bugsnag-flutter-dart-io-http-client
	url = git@github.com:bugsnag/bugsnag-flutter-dart-io-http-client.git
