[submodule "packages/bugsnag-flutter-http-client"]
	path = packages/bugsnag-flutter-http-client
	url = git@github.com:bugsnag/bugsnag-flutter-http-client.git
[submodule "packages/bugsnag-flutter-dio-client"]
	path = packages/bugsnag-flutter-dio-client
	url = git@github.com:bugsnag/bugsnag-flutter-dio-client.git
